<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="tailwind,tailwindcss,tailwind css,css,starter template,free template,admin templates, admin template, admin dashboard, free tailwind templates, tailwind example">
    <!-- Css -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <title>Dashboard | Tailwind Admin</title>
</head>

<body>
    <%- include('../partials/donate.ejs'); %>
<!--Container -->
<div class="mx-auto bg-grey-400">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <header class="bg-nav" id="header">
            <div class="flex justify-between">
                <div class="p-1 mx-3 inline-flex items-center">
                    <img src="/img/logo.png" alt="" srcset="" class="logo">
                </div>
                <div class="p-1 flex flex-row items-center">
                    <div class="searchuser">
                        <div class="searchspace">
                            <label for="" onclick="searchoption()" class="serachicon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.111 20.058l-4.977-4.977c.965-1.52 1.523-3.322 1.523-5.251 0-5.42-4.409-9.83-9.829-9.83-5.42 0-9.828 4.41-9.828 9.83s4.408 9.83 9.829 9.83c1.834 0 3.552-.505 5.022-1.383l5.021 5.021c2.144 2.141 5.384-1.096 3.239-3.24zm-20.064-10.228c0-3.739 3.043-6.782 6.782-6.782s6.782 3.042 6.782 6.782-3.043 6.782-6.782 6.782-6.782-3.043-6.782-6.782zm2.01-1.764c1.984-4.599 8.664-4.066 9.922.749-2.534-2.974-6.993-3.294-9.922-.749z"/></svg>
                            </label>
                            <div id="options">
                                <div class="display">
                                    <div class="name btn" onclick="names()">By Name</div>
                                    <div class="city btn" onclick="city()">By City</div>
                                    <div class="state btn" onclick="state()">By State</div>
                                    <div class="zip btn" onclick="zip()">By Zip Code</div>
                                </div>
                            </div>
                        </div>
                        <form action="/searchbyname" method="post" id="searchbyname">
                            <div class="byname">
                                <label for="">Enter Name : </label>
                                <input type="text" name="username">
                            </div>
                            <button type="submit" class="btns">Submit</button>
                        </form>
                        <form action="/searchbycity" method="post" id="searchbycity">
                            <div class="bycity">
                                <label for="">Enter city : </label>
                                <input type="text" name="usercity">
                            </div>
                            <button type="submit" class="btns">Submit</button>
                        </form>
                        <form action="/searchbystate" method="post" id="searchbystate">
                            <div class="bystate">
                                <label for="">Enter State : </label>
                                <input type="text" name="userstate">
                            </div>
                            <button type="submit" class="btns">Submit</button>
                        </form>
                        <form action="/searchbyzip" method="post" id="searchbyzip">
                            <div class="byzip" name="userzip">
                                <label for="">Enter Zip Code : </label>
                                <input type="number">
                            </div>
                            <button type="submit" class="btns">Submit</button>
                        </form>
                    </div>
                    <img onclick="profileToggle()" class="inline-block h-8 w-8 rounded-full" src="https://avatars0.githubusercontent.com/u/4323180?s=460&v=4" alt="">
                    <a href="#" onclick="profileToggle()" class="text-white p-2 no-underline hidden md:block lg:block">Adam Wathan</a>
                    <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                        <ul class="list-reset">
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My account</a></li>
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a></li>
                          <li><hr class="border-t mx-2 border-grey-ligght"></li>
                          <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--/Header-->
      
            
        <%- include('../partials/smallbar.ejs'); %>

        <div class="flex flex-1">
            <!--Sidebar-->
           
                <%- include('../partials/aside.ejs'); %>
        
            <!--/Sidebar-->
            <!--Main-->
            <main class="bg-white-300 flex-1 p-3 overflow-hidden">

                <div class="flex flex-col">
                    <!-- Stats Row Starts Here -->
                    <div class="up">
                        <div class="one flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
                            <div class="shadow-lg bg-red-vibrant border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col" >
                                    <a href="gyms" class="no-underline text-white text-2xl">
                                        Gyms
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a href="/addgyms" class="no-underline text-white text-2xl">
                                        Add Gyms
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-info border-l-8 hover:bg-info-dark border-info-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a href="users" class="no-underline text-white text-2xl">
                                       Users
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-success border-l-8 hover:bg-success-dark border-success-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a href="/addusers" class="no-underline text-white text-2xl">
                                        Add Users
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="two flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 affilate">
                                <div class="p-4 flex flex-col">
                                    <a href="/businessdetails" class="no-underline text-white text-2xl">
                                        Affiliates
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 affilate">
                                <div class="p-4 flex flex-col">
                                    <a href="/addbusiness" class="no-underline text-white text-2xl">
                                        Add Affiliates
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 personal">
                                <div class="p-4 flex flex-col">
                                    <a href="/personaltrainer" class="no-underline text-white text-2xl">
                                        Personal Trainer
                                    </a>
                                </div>
                            </div>
                            <div class="shadow shadow-lg bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2 personal">
                                <div class="p-4 flex flex-col">
                                    <a href="/addpersonaltrainer" class="no-underline text-white text-2xl">
                                        Add Personal Trainer
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="filter">
                        <div class="filtertext" onclick="filter()">Filter</div>
                        <div class="filterinputs" id="filtertabs">
                            <form action="/filtersearch" method="post">
                                <input type="checkbox" value="on" name="all" id="" ><label for="">All</label>
                                <input type="checkbox" value="on" name="premium" id="pacakage500" onclick="checkdata()"><label for="">$500 Package</label>
                                <input type="checkbox" value="on" name="economical" id="pacakage150" onclick="checkdata()"><label for="">$150 Package</label>
                                <button type="submit">Filter</button>
                                <div class="preeco" id="ecopre">
                                    <input type="checkbox" value="on" id="premium1" name="premimum1"  ><label>Premimum</label>
                                    <input type="checkbox" value="on" id="economical1" name="economical1" ><label>Economical</label>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="allgyms">
                        <!-- <div class="grid grid-cols-4 gap-3"> -->
                        <% for(var i=0; i<item.length; i++) {%>
                            <div class="border border-gray-400 shadow-2xl m-10 p-10">
                                <!-- <div class="grid grid-cols-2 my-5"> -->
                                <!-- <div class="profileimg"> -->
                                    <div class="flex justify-end top-0 mx-5" onclick="edit('<%= item[i].id%>')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24.001 8.534l-11.103 11.218-5.898 1.248 1.361-5.784 11.104-11.216 4.536 4.534zm-24 10.466l-.001 2h5v-2h-4.999z"/></svg>
                                    </div>
                                    <div class="flex justify-center">
                                        <img src="data:image/png;base64, <%=item[i].img.data%>">
                                </div>
                                
                                <!-- </div> -->
                                <div class="mt-10">
                                <!-- <div class="gymname"> -->
                                    <div class="flex justify-center">
                                    <%= item[i].title1%></div>

                                <!-- <div class="otherinfo"> -->
                                    <div class="mt-5">
                                    <!-- <div class="gymprice line2"> -->
                                        <div class="flex justify-center text-blue-500">
                                          <%= item[i].title2 %>
                                          
                                        </div>
                                    <!-- <div class="discountprice line3">  -->
                                        <div class="flex justify-center">
                                        <%= item[i].title3%></div>
                                    <!-- <div class="state line3"> -->
                                        <div class="flex justify-center text-green-600">
                                        <%= item[i].title4 %></div>
                                </div>
                                </div>
                            </div>
                         <%  } %>
                    </div>

                    <!-- /Stats Row Ends Here -->

                    <!-- Card Sextion Starts Here -->
                   
                    <!-- /Cards Section Ends Here -->

                    <!-- Progress Bar -->
                    
                    <!--Profile Tabs-->
                    
            </main>
            <!--/Main-->
        </div>
        <!--Footer-->
        <footer class="bg-grey-darkest text-white p-2">
            <div class="flex flex-1 mx-auto">&copy; My Design</div>
        </footer>
        <!--/footer-->

    </div>

    <div class="edit" id="editt">
        <form method="post" action="/editgyms" >
            <main class="bg-white-500 flex-1 p-3 overflow-hidden">
                <div class="flex flex-col editdiv">
                    <!-- Card Sextion Starts Here -->
                    <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
                        <!--Horizontal -->
                        <div class="mb-2 border-solid border-grey-light rounded border shadow-sm w-full md:w-1/2 lg:w-1/2 admindiv">
                            <div class="bg-gray-300 px-2 py-3 border-solid border-gray-400 border-b">
                                Admin Information
                            </div>
                            <div class="p-3">
                                    <div class="md:flex md:items-center mb-6">
                                        <div class="md:w-1/4">
                                            <label class="block text-gray-500 font-regular md:text-right mb-1 md:mb-0 pr-4"
                                                for="inline-full-name">
                                                Name
                                            </label>
                                        </div>
                                        <div class="md:w-3/4">
                                            <input class="bg-grey-200 appearance-none border-1 border-grey-200 rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-purple-light"
                                                id="inline-full-name" type="text" placeholder="Jane Doe" name="name">
                                        </div>
                                    </div>
                                    <div class="md:flex md:items-center mb-6">
                                        <div class="md:w-1/4">
                                            <label class="block text-grey font-regular md:text-right mb-1 md:mb-0 pr-4"
                                                for="inline-username">
                                                Password
                                            </label>
                                        </div>
                                        <div class="md:w-3/4">
                                            <input class="bg-grey-200 appearance-none border-1 border-grey-200 rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-purple-light"
                                                id="inline-username" type="password"
                                                placeholder="******************" name="pass">
                                        </div>
                                    </div>
                                    <div class="md:flex md:items-center">
                                        <div class="md:w-1/3"></div>
                                        <div class="md:w-2/3">
                                            <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                                                    type="submit">
                                                Confirm
                                            </button>
                                        </div>
                                        <div class="md:w-2/3">
                                            <a href="/changeadmin">
                                                <div class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded cancle"
                                                    type="" >
                                                Cancel
                                                </div>
                                            </a> 
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
                        <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                            <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                                Change Gym Details
                            </div>
                            <div class="p-3" id="change">
                                    <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-first-name">
                                                New Gym Name
                                            </label>
                                            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500"
                                                id="grid-first-name" type="text" placeholder="Gym Name" name="title1">
                                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-first-name">
                                                Title 2
                                            </label>
                                            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500"
                                                id="grid-first-name" type="text" placeholder="Title 2" name="title2">
                                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-first-name">
                                                Title 3
                                            </label>
                                            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500"
                                                id="grid-first-name" type="text" placeholder="Title 3" name="title3">
                                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-first-name">
                                                Title 4
                                            </label>
                                            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500"
                                                id="grid-first-name" type="text" placeholder="Title 4" name="title4">
                                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-first-name">
                                                Email
                                            </label>
                                            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500"
                                                id="grid-first-name" type="text" placeholder="email" name="email">
                                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-first-name">
                                                Price
                                            </label>
                                            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500"
                                                id="grid-first-name" type="text" placeholder="$100" name="number">
                                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-first-name">
                                                Economical or Premimum
                                            </label>
                                            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500"
                                                id="grid-first-name" type="text" placeholder="Economical" name="plan">
                                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                                        </div>
                                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-light mb-1"
                                                for="grid-first-name">
                                                For which plan $150(less) or $500(large)
                                            </label>
                                            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500"
                                                id="grid-first-name" type="text" placeholder="large" name="plan2">
                                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                                        </div>
                                    </div>
                                    <!-- <div class="flex flex-wrap -mx-3 mb-6">
                                        <div class="w-full px-3">
                                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                                                for="grid-password">
                                                Field
                                            </label>
                                            <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                                id="grid-password" type="text" placeholder="Technical" name="businessfield">
                                        </div>
                                    </div> -->
                                    <!-- <div class="flex flex-wrap -mx-3 mb-2">
                                        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                                                for="grid-city">
                                                State
                                            </label>
                                            <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                                id="grid-city" type="text" placeholder="Washington" name="bstate">
                                        </div>
                                        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                                                for="grid-city">
                                                City
                                            </label>
                                            <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                                id="grid-city" type="text" placeholder="City" name="bcity">
                                        </div>
                                    </div> -->
                            </div>
                        </div>
                    </div>
                    <!--/Grid Form-->
                </div>
            </main>
        </form>
    </div>
</div>
<script >
    function filter(){
        let filteroptions = document.getElementById("filtertabs");
        const element = document.querySelector('#filtertabs')
        const style = getComputedStyle(element);
        console.log('style.display: ',style.display);
        if(style.display == "none"){
            filteroptions.style.display = "block";
        }
        else{
            filteroptions.style.display = "none";
        }
    }

    function checkdata(){
        console.log("clicked");
        let filteroptions = document.getElementById("ecopre");
        const style = getComputedStyle(filteroptions);
        let premimum1 = document.querySelector("#pacakage500");
        let economical1 = document.querySelector("#pacakage150");
        console.log(style.display);
        console.log(premimum1.checked)
        if(premimum1.checked == true){
            filteroptions.style.display = "block";
        }
        else{
            if(economical1.checked == true){
                filteroptions.style.display = "block";
            }
            else{
                filteroptions.style.display = "none";
            }
        }
    }

    let count=0;
    function edit(e){
        count++;
        console.log(e);
        let editt = document.getElementById("editt");
        console.log(editt);
        if(editt.style.display == 'none'){
            editt.style.display='flex';
            var getMeTo = document.getElementById("editt");
            getMeTo.scrollIntoView({behavior: 'smooth'}, true);
            document.body.style.overflowY="hidden";
        }
        else{
            editt.style.display='none';
            document.body.style.overflowY="none";
        }
        var d1 = document.getElementById('change');
        if(count>1){
            d1.insertAdjacentHTML('afterend', `<div class="md:flex md:items-center mb-6 visible">
                                        <div class="md:w-1/4">
                                            <label class="block text-gray-500 font-regular md:text-right mb-1 md:mb-0 pr-4"
                                                for="inline-full-name">
                                                Id
                                            </label>
                                        </div>
                                        <div class="md:w-3/4">
                                            <input class="bg-grey-200 appearance-none border-1 border-grey-200 rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-purple-light"
                                                id="inline-full-name" type="text" value="${e}" name="changeid">
                                        </div>
                                    </div>`);
        }
    }


    function searchoption(){
        console.log("hellooo");
        let options = document.getElementById("options");
        const element = document.querySelector('#options');
        const style = getComputedStyle(element);
        let searchbyname = document.getElementById("searchbyname");
        let searchbycity = document.getElementById("searchbycity");
        let searchbystate = document.getElementById("searchbystate");
        let searchbyzip = document.getElementById("searchbyzip");
        if(style.display == "none"){
            options.style.display = "block";
        }
        else{
            options.style.display = "none";
            searchbyname.style.display = "none";
            searchbycity.style.display = "none";
            searchbystate.style.display = "none";
            searchbyzip.style.display = "none";
        }
    }

    function names(){
        let searchbyname = document.getElementById("searchbyname");
        let searchbycity = document.getElementById("searchbycity");
        let searchbystate = document.getElementById("searchbystate");
        let searchbyzip = document.getElementById("searchbyzip");
        const element = document.querySelector('#searchbyname');
        const stylename = getComputedStyle(element);
        if(stylename.display == "none"){
            searchbyname.style.display = "block";
            searchbycity.style.display = "none";
            searchbystate.style.display = "none";
            searchbyzip.style.display = "none";
        }
        else{
            searchbyname.style.display = "none";
        }
    }

    function city(){
        let searchbyname = document.getElementById("searchbyname");
        let searchbycity = document.getElementById("searchbycity");
        let searchbystate = document.getElementById("searchbystate");
        let searchbyzip = document.getElementById("searchbyzip");
        const element = document.querySelector('#searchbycity');
        const stylename = getComputedStyle(element);
        if(stylename.display == "none"){
            searchbyname.style.display = "none";
            searchbycity.style.display = "block";
            searchbystate.style.display = "none";
            searchbyzip.style.display = "none";
        }
        else{
            searchbyname.style.display = "none";
        }
    }

    function state(){
        let searchbyname = document.getElementById("searchbyname");
        let searchbycity = document.getElementById("searchbycity");
        let searchbystate = document.getElementById("searchbystate");
        let searchbyzip = document.getElementById("searchbyzip");
        const element = document.querySelector('#searchbystate');
        const stylename = getComputedStyle(element);
        if(stylename.display == "none"){
            searchbyname.style.display = "none";
            searchbycity.style.display = "none";
            searchbystate.style.display = "block";
            searchbyzip.style.display = "none";
        }
        else{
            searchbyname.style.display = "none";
        }
    }

    function zip(){
        let searchbyname = document.getElementById("searchbyname");
        let searchbycity = document.getElementById("searchbycity");
        let searchbystate = document.getElementById("searchbystate");
        let searchbyzip = document.getElementById("searchbyzip");
        const element = document.querySelector('#searchbyzip');
        const stylename = getComputedStyle(element);
        if(stylename.display == "none"){
            searchbyname.style.display = "none";
            searchbycity.style.display = "none";
            searchbystate.style.display = "none";
            searchbyzip.style.display = "block";
        }
        else{
            searchbyname.style.display = "none";
        }
    }
</script>
</body>

</html>